<% if params[:new_elements].match?(/[^-0-9,]/) %> <p> неверно введен массив, есть недопустымые элементы</p>
<% elsif @last_number_3 == 0 && @k == -10 %>
  <p>В массиве не было найдено отрицательного элемента кратного 3</p>
<% else %>
  <h1>найденный последний элемент кратный 3</h1>
  <p><%= @last_number_3 %></p>
  <h1>ИНДЕКС найденненного последнего отриц элемента кратный 3</h1>
  <p><%= @k %></p>
  <h1>Найдленный минимальный элемент массива</h1>
  <%= @min %>
  <h1>Массив чисел (начальный)</h1>
  <p><%= @initial_array %></p>
  <h1>Измененный массив</h1>
  <p><%= @modified_array %></p>

<% end %>



